<div *ngIf="user">

  <h2>Usuário</h2>

  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="user.name" name="name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="user.email" name="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="user.phone" name="phone">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="save()">
    Salvar
  </button>

</div>